!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %link{href: "mystyle.css", rel: "stylesheet", type: "text/css"}
    %title CS256 Mobile Web Development - Structure
  %body
    #headline
      .container
        %header
          %h1 Mobile Web Development
          %p Building Mobile Web Experiences
        #blurb
          %p So you've heard mobile is kind of a big deal, and youre not sure how to transform your traditional desktop-focused web apps int fast, effective multi-device experiences.
          %p This course is designed to teach web developers what they need to know to create great cross-device web experiences.
          %p This course will focus on building mobile-first web apps, which will work across multiple platforms including:
          %ul
            %li Android,
            %li iOS,
            %li and others.
        %form#register{ method: "post" }
          %h2 Register for the Launch
          %label{ for: "name"} Name
          %input#name{ name: "name", placeholder: "Thomas A Anderson", required: "", type: "text"}
          %label{ for: "email"} Email address
          %input#email{ name: 'email', type: 'email', placeholder: "neo@example.com", required: "" }
          %label{ for: "tel"} Telephone
          %input#tel{type: "tel", name: "tel", placeholder: "(555) 555 5555", required: ""}
    #section1
      .container
        %h2 What will I learn?
        %p After comleting this class, you'll have built a web application with a first class mobile experience
        %p You will understand what it takes to:
        %ul
          %li build great web experiences on mobile devices
          %li use the tools you need to test performance
          %li apply your knowledge to your own projects in the future
        %video{controls: "", poster: "udacity.png"}
          %source{src: "udacity.mp4", type: "video/mp4"}
          %source{src: "udacity.webm", type: "video/webm"}
          %p
            Sorry your browser doesn't support the video.
            =succeed "." do
              %a{href: "udacity.mov"} Download the video.
    #section2
      %h2 Instructors
      %p The worlds leading mobile authorities
      #images
        %img{src: "chriswilson.png", srcset: "photo@2x.png 2x", alt: "Chris Wilson: Instructor"}
        %img{src: "peterlubbers.png", alt: "Peter Lubbers: Course instructor"}
        %img{src: "seanbennett.png", alt: "Sean Bennet: Course Developer"}
      %br
    #section3
      %h2 Mobile. Why should I care?
      %p It is huge. Everywhere.
      %table
        %caption
          %p
            Data from
            %a{href: "http://gs.statcounter.com/#desktop+mobile+tablet-comparison-ww-monthly-201303-201403"} StatsCounter
        %thead
          %tr
            %th Country
            %th Desktop share
            %th Tablet share
            %th Mobile share
        %colgroup
          %col{span: "1"}
          %col{span: "1"}
          %col{span: "1"}
          %col{span: "1"}
        %tbody
          %tr
            %td{"data-th" => "Country"}
              %a{href: "http://gs.statcounter.com/#desktop+mobile+tablet-comparision-IN-monthly-201303-201403"} India
            %td{"data-th" => "Desktop share"} 32%
            %td{"data-th" => "Tablet share"} 1%
            %td{"data-th" => "Mobile share"} 67%
          %tr
            %td{"data-th" => "Country"}
              %a{href: "http://gs.statcounter.com/#desktop+mobile+tablet-comparision-GB-monthly-201303-201403"} GB
            %td{"data-th" => "Desktop share"} 69%
            %td{"data-th" => "Tablet share"} 13%
            %td{"data-th" => "Mobile share"} 18%
          %tr
            %td{"data-th" => "Country"}
              %a{href: "http://gs.statcounter.com/#desktop+mobile+tablet-comparision-US-monthly-201303-201403"} US
            %td{"data-th" => "Desktop share"} 69%
            %td{"data-th" => "Tablet share"} 9%
            %td{"data-th" => "Mobile share"} 22%
          %tr
            %td{"data-th" => "Country"}
              %a{href: "http://gs.statcounter.com/#desktop+mobile+tablet-comparision-CN-monthly-201303-201403"} China
            %td{"data-th" => "Desktop share"} 86%
            %td{"data-th" => "Tablet share"} 4%
            %td{"data-th" => "Mobile share"} 10%
  %footer
    .container
      %p We always need a footer.
